<!--GazeboのLiDARプラグインに関するマクロファイル-->
<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


<xacro:macro  name="gazebo_LiDAR" 
              params="ref sensor_name viz update_rate sample_N
                      scan_resolution min_angle max_angle 
                      min_range max_range range_resolution
                      plugIn_name topic_name frame_name *pose">
  
  <!-- GPU rayというタイプで作成 -->
  <gazebo reference="${ref}">
    <sensor type="gpu_ray" name="${sensor_name}">
      <xacro:insert_block name="pose" />
      <visualize>${viz}</visualize>
      <update_rate>${update_rate}</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>${sample_N}</samples>
            <resolution>${scan_resolution}</resolution>
            <min_angle>${min_angle}</min_angle>
            <max_angle>${max_angle}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>${min_range}</min>
          <max>${max_range}</max>
          <resolution>${range_resolution}</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="${plugIn_name}" filename="libgazebo_ros_gpu_laser.so">
        <topicName>${topic_name}</topicName>
        <frameName>${frame_name}</frameName>
      </plugin>
    </sensor>
  </gazebo>
</xacro:macro>

</robot>
