<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


<xacro:macro name="gazebo_diff_Joint" params="leftJoint_name rightJoint_name base_name tread wheel_Diameter">

  <gazebo>
    <!--差動駆動プラグインを指定-->
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <!--left_wheel_jointとright_wheel_jointをそれぞれ左関節右関節に指定-->
      <leftJoint>${leftJoint_name}</leftJoint>
      <rightJoint>${rightJoint_name}</rightJoint>
      <!--台座であるbase_linkをrobotBaseFrameに指定-->
      <robotBaseFrame>${base_name}</robotBaseFrame>
      <!--トレッドを0.25m，車輪直径0.07mとする-->
      <wheelSeparation>${tread}</wheelSeparation>
      <wheelDiameter>${wheel_Diameter}</wheelDiameter>
      <!--車輪の状態を配信する設定にする-->
      <publishWheelJointState>true</publishWheelJointState>
    </plugin>
  </gazebo>

</xacro:macro>


</robot>
