<!--パーツに関するマクロファル-->
<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="link_generator" params="name mass color_name *shape *inertia">
    <link name="${name}">
        <visual>
            <geometry>
                <xacro:insert_block name="shape" />
            </geometry>
            <material name="${color_name}"/>
        </visual>
        <collision>
            <geometry>
                <xacro:insert_block name="shape" />
            </geometry>
        </collision>
        <!--慣性-->
        <inertial>
            <mass value="${mass}"/>
                    <xacro:insert_block name="inertia" />
        </inertial>
    </link>
</xacro:macro>

</robot>
