<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="robot_ros2_control" params="name prefix">

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>lucia_controller/RobotController/Hardware</plugin>
                <!--<param name="serial_port">/dev/ttyUSB0</param>-->
            </hardware>
            <joint name="${prefix}left_wheel_joint">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="${prefx}right_wheel_joint">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <sensor name="${prefix}LiDAR">
                <state_interface name="orientation.x"/>
                <state_interface name="orientation.y"/>
                <state_interface name="orientation.z"/>
                <state_interface name="orientation.w"/>
                <state_interface name="angular_velocity.x"/>
                <state_interface name="angular_gelocity.y"/>
                <state_interface name="angular_velocity.z"/>
                <param name="frame_id">LiDAR_link</param>
            </sensor>
        </ros2_control>

    </xacro:macro>

</robot> 
