<?xml version="1.0"?>
<robot name="lucia">

    <!--基準となる空のリンク-->
    <link name="base_link"/>

    <!--リンクの設定-->
    <!--BodyLink-->
    <link name="base_footprint">
        <visual>
        <geometry>
            <cylinder radius="0.5" length="1.0"/> <!--見た目を円柱に設定-->
        </geometry>
        </visual>
    </link>

    <!--left_wheel-->
    <link name="left_wheel_link">
        <visual>
        <geometry>
            <cylinder radius="0.15" length="0.03"/>
        </geometry>
        </visual>
    </link>

    <!--right_wheel-->
    <link name="right_wheel_link">
        <visual>
        <geometry>
            <cylinder radius="0.15" length="0.03"/>
        </geometry>
        </visual>
    </link>

    <!--Lidar-->
    <link name="laser">
        <visual>
        <geometry>
            <cylinder radius="0.1" length="0.1"/>
        </geometry>
        </visual>
    </link>

    <!--Joint-->
    <joint name="body_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0 0 0.85" rpy="0 0 0"/>
    </joint>

    <joint name="left_wheel" type="fixed">
        <origin xyz="0.0 0.0 0.15" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="left_wheel_link"/>
        <axis xyz="0.0 0.0 0.0"/>
        <!--<limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>-->
    </joint>

    <joint name="right_wheel" type="fixed">
        <origin xyz="0.0 0.0 0.15" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="right_wheel_link"/>
        <axis xyz="0.0 0.0 0.0"/>
        <!--<limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>-->
    </joint>

    <joint name="lidar_joint" type="fixed">
        <origin xyz="0.0 0.0 0.95" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="laser"/>
    </joint>

</robot>
